In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset = pd.read_csv("household_power_consumption.csv")
dataset.head()

FileNotFoundError: [Errno 2] File household_power_consumption.csv does not exist: 'household_power_consumption.csv'

In [4]:
dataset.replace("?", np.nan, inplace = True)

NameError: name 'dataset' is not defined

In [270]:
dataset.shape

(605910, 9)

In [271]:
#Presents the number of non null values in each column
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 605910 entries, 0 to 605909
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Date                   605910 non-null  object
 1   Time                   605910 non-null  object
 2   Global_reactive_power  601973 non-null  object
 3   Voltage                601972 non-null  object
 4   Global_intensity       601972 non-null  object
 5   Sub_metering_1         601972 non-null  object
 6   Sub_metering_2         601972 non-null  object
 7   Sub_metering_3         601972 non-null  float64
 8   Global_active_power    601972 non-null  object
dtypes: float64(1), object(8)
memory usage: 41.6+ MB

In [272]:
dataset.count()

Date                     605910
Time                     605910
Global_reactive_power    601973
Voltage                  601972
Global_intensity         601972
Sub_metering_1           601972
Sub_metering_2           601972
Sub_metering_3           601972
Global_active_power      601972
dtype: int64

In [273]:
#Printing datatype of elements in dataframe
dataset.dtypes

Date                      object
Time                      object
Global_reactive_power     object
Voltage                   object
Global_intensity          object
Sub_metering_1            object
Sub_metering_2            object
Sub_metering_3           float64
Global_active_power       object
dtype: object

In [274]:
#Converting all the datatypes from python objects to floats for missing value computation
dataset['Global_reactive_power'] = pd.to_numeric(dataset['Global_reactive_power'],errors = 'coerce')
dataset['Voltage'] = pd.to_numeric(dataset['Voltage'],errors = 'coerce')
dataset['Global_intensity'] = pd.to_numeric(dataset['Global_intensity'],errors = 'coerce')
dataset['Sub_metering_1'] = pd.to_numeric(dataset['Sub_metering_1'],errors = 'coerce')
dataset['Sub_metering_2'] = pd.to_numeric(dataset['Sub_metering_2'],errors = 'coerce')
dataset['Sub_metering_3'] = pd.to_numeric(dataset['Sub_metering_3'],errors = 'coerce')
dataset['Global_active_power'] = pd.to_numeric(dataset['Global_active_power'],errors = 'coerce')

In [275]:
#Verifying whether all objects converted to floats
dataset.Sub_metering_2.dtypes

dtype('float64')

In [276]:
#Boolean value of whether present or absent
dataset_missing = dataset.isna()
dataset_missing.head()

    Date   Time  ...  Sub_metering_3  Global_active_power
0  False  False  ...           False                False
1  False  False  ...           False                False
2  False  False  ...           False                False
3  False  False  ...           False                False
4  False  False  ...           False                False

[5 rows x 9 columns]

In [277]:
#Computes the sum of all values that is True i.e missing values
dataset_num_of_missing = dataset_missing.sum()
dataset_num_of_missing

Date                        0
Time                        0
Global_reactive_power    3937
Voltage                  3938
Global_intensity         3938
Sub_metering_1           3938
Sub_metering_2           3938
Sub_metering_3           3938
Global_active_power      3938
dtype: int64

In [278]:
#Calculating % of missing values by dividing missing by total length of the dataframe
total = len(dataset)
percentage = (dataset_num_of_missing/total)*100
percentage.round(4)#Rounding to 4 decimal places

Date                     0.0000
Time                     0.0000
Global_reactive_power    0.6498
Voltage                  0.6499
Global_intensity         0.6499
Sub_metering_1           0.6499
Sub_metering_2           0.6499
Sub_metering_3           0.6499
Global_active_power      0.6499
dtype: float64

In [279]:
X = dataset.iloc[:,:-1].values
Y = dataset.iloc[:,-1].values

In [280]:
X

array([['16-12-2006', '17:24:00', 0.418, ..., 0.0, 1.0, 17.0],
       ['16-12-2006', '17:25:00', 0.436, ..., 0.0, 1.0, 16.0],
       ['16-12-2006', '17:26:00', 0.498, ..., 0.0, 2.0, 17.0],
       ...,
       ['10-02-2008', '11:51:00', 0.2, ..., 0.0, 0.0, 0.0],
       ['10-02-2008', '11:52:00', 0.2, ..., 0.0, 0.0, 0.0],
       ['10-02-2008', '11:53:00', 0.0, ..., nan, nan, nan]], dtype=object)

In [281]:
Y

array([4.216, 5.36 , 5.374, ..., 0.42 , 0.414,   nan])

In [282]:
#Using sci-kitlearn to fill the missing values with the mean of that particular column using simple imputer
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:,2:8])
X[:,2:8]=imputer.transform(X[: ,2:8])

In [283]:
#Converting our input numpy array to dataframe to check if the missing values have been computed
X_set = pd.DataFrame(X[:,2:8],columns=['Global_reactive','Voltage','Global_Intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3'])

In [284]:
#percentage down to 0 as all missing values filled
X_set.isna().mean().round(4) * 100

Global_reactive     0.0
Voltage             0.0
Global_Intensity    0.0
Sub_metering_1      0.0
Sub_metering_2      0.0
Sub_metering_3      0.0
dtype: float64

In [285]:
X_set.head()

  Global_reactive Voltage  ... Sub_metering_2 Sub_metering_3
0           0.418  234.84  ...              1             17
1           0.436  233.63  ...              1             16
2           0.498  233.29  ...              2             17
3           0.502  233.74  ...              1             17
4           0.528  235.68  ...              1             17

[5 rows x 6 columns]

In [1]:
y_pos = np.arange(len(dataset['Date']))
plt.xticks(y_pos,dataset['Date'])

plt.bar(y_pos,X_set['Global_reactive'])

NameError: name 'np' is not defined